.container {
    padding: 50px 0;
}

.header {
    margin: 0;
    text-align: center;
    padding:10px 0;
    font-size: 48px;
    font-weight: bold;
}
.movies_wrapper {
    max-width: 1280px;
    padding: 50px 40px 100px;
    margin: 0 auto;
}